# Dependencies
node_modules

# Build outputs
dist

# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db

# Test files
*.test.*
*.spec.*
coverage
.nyc_output

# Environment files
.env
.env.local
.env.*.local

# Misc
*.md
.gitignore